img.webdevops-logo {
    max-width: 50%;
}

.header-title img,
img.webdevops-logo {
    filter: invert(1);
}

body[theme=dark] .header-title img,
body[theme=dark] img.webdevops-logo {
    filter: invert(0);
}

